.body-fondo {
    background-color: hsla(188.1081081081081, 42%, 17%, 1);
    background-image: radial-gradient(circle at -45% 146%, rgb(88, 212, 196) 12%, transparent 52%),
        radial-gradient(circle at 34% 90%, rgb(94, 165, 156) 0%, transparent 71%),
        radial-gradient(circle at 36% 95%, hsla(171.71270718232046, 73%, 48%, 1) 7%, transparent 71%),
        radial-gradient(circle at -30% -28%, rgb(57, 101, 112) 7%, transparent 74%);
    background-blend-mode: overlay, overlay, overlay, overlay;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
color: aliceblue;}

/* Navbar */
.navbar {
    background-color: #1eaf7f;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 16px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.cart-widget {
    font-size: 18px;
    
}

/* Contenedor */
.contenedor {
    padding: 24px;
}

.titulo {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.descripcion {
    font-size: 16px;
    color: #333;
}

.navbar-gradient {
  background: linear-gradient(90deg, #175c26, #a5bac0); 
}
.logoleft{
margin-left: 0;
padding-left: 0;       
}
.btn-success{
    color:aqua;
}




.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.card-img-top {
    object-fit: contain;
    height: 250px;
    width: 100%;
    padding: 8px;
}


.card-text {
    font-size: 1rem;
    color: #333;
}

